# Set the default behavior (used when a rule below doesn't match)
* text=auto

*.go text eol=lf

# Some Windows-specific files should always be CRLF
*.bat text eol=crlf

# Shell scripts
*.sh text eol=lf
