name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.13', '1.14' ]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Get dependencies
      run: go get github.com/google/uuid

    - name: go build
      run: go build -v ./...

    - name: go fmt
      run: go fmt ./...

    - name: go vet
      run: go vet ./...

    - name: go test
      run: go test ./...
